# Ignore compiled Python files
*.pyc

# Ignore files in the "build" directory
/build/

# Ignore files in the "venv" directory (virtual environment)
/venv/

*.ps1.*

*.ps1

Untitled*.*
Airbnb Analysis .docx
prt.csv
settings.json
cls